[submodule "Pydiction"]
	path = Pydiction
	url = git@github.com:vim-scripts/Pydiction.git
[submodule "AutoComplPop"]
	path = AutoComplPop
	url = git@github.com:vim-scripts/AutoComplPop.git
[submodule "pyflakes"]
	path = pyflakes
	url = git@github.com:kevinw/pyflakes.git
